# .NET Core / .NET 5+ build files
dotnet-kafka-app/bin/
dotnet-kafka-app/obj/
dotnet-kafka-app/publish/

# User-specific files
dotnet-kafka-app/.vs/
dotnet-kafka-app/.idea/
dotnet-kafka-app/.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# ASP.NET Core development certificate
https://docs.microsoft.com/en-us/aspnet/core/security/https
https://github.com/dotnet/aspnetcore/issues/24991
https://github.com/dotnet/aspnetcore/issues/21364
https://github.com/dotnet/aspnetcore/issues/17928
https://github.com/dotnet/aspnetcore/issues/32034
https://github.com/dotnet/aspnetcore/issues/25456
# Windows only:
# .vs2019 directory (Visual Studio 2019)
dotnet-kafka-app/.vs2019/

# Windows Installer Files
*.cab
*.msi
*.msm
*.msp

# Windows Installer (x64)
*.x64

# Windows Installer (x86)
*.x86

# Windows image files
*.ico
*.cur

# Windows registry files
*.reg

# Windows / macOS development metadata
.DS_Store

# Windows Package / App Files
*.appx
*.appxbundle