[submodule "dotnet-kafka-consoleapp"]
	path = dotnet-kafka-consoleapp
	url = https://github.com/pkredhat/dotnet-kafka-consoleapp
[submodule "quicknode-lang"]
	path = quicknode-lang
	url = https://github.com/pkredhat/quicknode-lang
[submodule "ds-challenge-01"]
	path = ds-challenge-01
	url = https://github.com/pkredhat/ds-challenge01
